/** @format */

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: "Arial, sans-serif";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  color: red;
}
h1,h2{
  font-family: var(--font-family);
  color: var(--primary-color);
  margin: 10px 20px;
  text-align: center;
}

.container {
 border: 2px solid var(--primary-color);
}
body {
background-image: url(./xl_Zekelman-Industries_1500x1000.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 5px auto;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}