/** @format */

:root {
  --primary-color: #FF6B6B;
  --secondary-color: #0D0D0D;
  --font-family: "Arial, sans-serif";

/*button styles*/
--primary-button-bg: #1467ac;
--primary-button-hover-bg: #2676b8; 

  /*ancor colors*/
  --anchor-primary: #2da729;
  --anchor-secondary: #ce1919;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  color: red;
}
h1,h2{
  font-family: var(--font-family);
  color: #fff;
  margin: 10px 20px;
  text-align: center;
}

.container {
 border: 2px solid #fff;
 box-shadow: #a1a0a0;
}
body {
  margin-top: 30px;
padding: 10px;
background-image: url(./zekelman-upscaled.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat ;
height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 5px auto;
  padding: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  transform: translateY(152px);
}
label,input {
  margin-bottom: 5px;
  padding: 5px 5px;
  font-weight: bold;
}
input {
  border: 2px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px;
  width: 100px;
  background-color: var(--primary-button-bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
button:hover {
  background-color: var(--primary-button-hover-bg);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
a {
  margin-top: 10px;
  text-align: center;
  color: var(--secondary-color);
  text-decoration: none;
}
.primary {
  color: var(--anchor-secondary);
}
.secondary {
  color: var(--anchor-primary);
}

.foot-container {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}